.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  &__text {
    font: var(--font-l);
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 24px;
  }
}
