.button {
  border: 1px solid #3a3a3a1f;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}
